@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background: linear-gradient(45deg, var(--primary), var(--secondary));

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .hero_content {
    max-width: 600px;
  }

  .hero__title,
  .hero__text {
    animation: fadeIn 2s ease-out;
  }

  &__title {
    width: 100%;
    max-width: 550px;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--text);
  }

  .hero__text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .hero__button {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem 0;
    background: var(--accent);
    color: var(--light);
    text-decoration: none;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 4s ease-out;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(196, 164, 132, 0.3);
    }
  }

  @media (max-width: 980px) {
    padding: 0 5%;

    .hero__title {
      font-size: 2.5rem;
    }

    .hero_content {
      max-width: 100%;
      padding: 0 16px;
    }
  }

  @media (max-width: 768px) {
    .hero__container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .hero__title {
      font-size: 2rem;
    }

    .hero__button {
      padding: 0.8rem 1.5rem;
    }
  }
}
