.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  @media (max-width: 425px) {
    gap: 0;
  }
}

.courses__title {
  padding-top: 80px;
}

.course-card {
  background: var(--light);
  padding: 2rem;
  margin-bottom: 80px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  .cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    background: var(--accent);
    color: var(--light);
    text-decoration: none;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(196, 164, 132, 0.3);
    }
  }
}

