@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,regular,500,600);
:root {
  --primary: #ffd4e5;
  --secondary: #f8e5d6;
  --accent: #c4a484;
  --text: #4a4a4a;
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(74, 74, 74);
  font-family: Montserrat;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}
